<p>
    This site hosts a number of laptop repair manuals, with the intention of preserving them past the date
    <br> that they're kept on the original manufacturer's servers.
</p>

<div>Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>