  <h3> Add Manufacturer </h3>
  <form method="POST" id="addManufacturer" action="/add_manufacturer">
  	<label for="manufacturerName">Manufacturer Name</label></br>
  	<input type="text" id="manufacturerName" name="manufacturerName" required></br>
  	<input type="submit">
  </form>