<form method="POST" id="addCPU" action="/add_cpu">
  <h3> Add CPU </h3>
  <label for="cpuName" >CPU Name</label></br>
  <input type="text" id="cpuName" name="cpuName" required></br>

  <label for="clockSpeed">Clock Speed</label></br>
  <input type="number" id="clockSpeed" name="clockSpeed" required></br>

  <label for="">Manufacturer (If the manufacturer is not found please return to the homepage and add the desired manufacturer first)</label></br>
  <select id="manufacturers" name = manufacturerID>
    <option></option>
    {{#each manufacturer}}
  	<option value = {{manufacturerID}}>{{manufacturerName}}</option>
    {{/each}}
  </select> </br> </br>
  <input type="submit">
</form>