<div class="direction">
	<h3 class="direction">Select a laptop and graphics pair to associate:</h3>
</div>
<div>
	<form method="POST" action ="/add_laptop_graphics">
		<label for="LaptopList">Laptops:</label>
		<select name="laptopID" id="laptop">
			{{#each laptops}}
				<option value = {{laptopID}}>{{laptopName}}</option>
			{{/each}}
		</select>
		<br><br>
		<label for="GraphicsList">GPUs:</label>
		<select name="graphicsID" id="graphics">
			{{#each graphics}}
				<option value = {{graphicsID}}>{{graphicsName}}</option>
			{{/each}}
		</select>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</div>
<br>
