{{#if laptops}}
    <div class="direction">
    <h3 class="direction">Delete laptop:</h3>
</div>
<div>
    <form method="POST">
        <div class="entityEntry">
            <label for="LaptopToDelete">Choose laptop to delete:</label>
            <select id="laptopID" name = "laptopID">
                {{#each laptops}}
                    <option value={{laptopID}}> {{laptopName}} </option>
                {{/each}}
            </select>
        </div>
        <div class="entityEntry">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{{else}}
    <br>
    <h3> Laptop table is empty; add a Laptop or refresh database at homepage. </h3>
    </br>
{{/if}}