<br>
<br>
<h3>Welcome to the Laptop Repair Manual Index! Feel free to browse, add to, or delete from our database.</h3>
<p><form method="POST" action="/refresh_db"><input type="submit" value="Reset Database"></form></p>